
  .education {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  .education-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    row-gap: 10px;
    width: 100%;
  }
  .education-card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    /* margin-bottom: 20px; */
    padding: 15px;
    opacity: 0;
    animation: fadeInUp 0.7s ease-in-out forwards;
  
  }
  
  .education-card h4 {
    margin-bottom: 10px;
    color: #0072ff;
  }
  
  .education-card i {
    font-size: 24px; /* Size of the icon */
    color: #0072ff; /* Icon color */
    margin-right: 10px;
  }
  
  .subjects {
    margin-top: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  .subject {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .subject-name {
    font-weight: bold;
  }
  
  .subject-score {
    color: #0072ff;
  }

  

/* Mobile-First Approach */
@media (min-width: 600px) {

  .education{
    align-items: flex-start;
  }
    .education-card-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 10px;
    }
  }
  
  @media (min-width: 735px){
  

  }
  
  @media (min-width: 900px) {
  
  }