.project-nav-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.project-navigation {
  width: 100%;
}

.project-navigation ul {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  row-gap: 15px;
  position: relative; 
}

.project-navigation li.project-item {
  background-color: #ffffff;
  padding: 20px 40px;
  border-radius: 15px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
  transform: translateZ(0);
  scroll-margin-top: 50px;
}

.project-navigation li.project-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(145deg, rgba(255, 255, 255, 0.2), transparent);
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: -1;
}

.project-navigation li.project-item:hover:not(.no-hover) {
  transform: translateY(-10px);
  box-shadow: 0 25px 35px rgba(0, 0, 0, 0.3);
}

.project-navigation li.project-item::before {
  opacity: 1;
}

.project-navigation a {
  color: #0072ff;
  text-decoration: none;
  font-size: 1rem;
  z-index: 2;
 
}

.project-navigation a:hover {
  text-decoration: underline;
}

/* Active link style */
.project-navigation a.active {
  color: #111cea;
  font-weight: bold;
  text-decoration: underline;
}




/* Disable hover effect when the item is clicked */
.project-navigation li.no-hover {
  transform: none;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2); /* Retain original shadow */
}


@media (min-width:600px){
  .project-nav-container{
    align-items: flex-start;
  }

  .project-navigation ul {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    row-gap: 20px;
    column-gap: 10px;
  }
}