.skills {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  .skills-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    column-gap: 15px;
    row-gap: 15px;
    width: 100%;
  }
  
  .skill {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .skill i {
    font-size: 24px; /* Size of the icon */
    color: #0072ff; /* Icon color */
  }
  
  .skill-name {
    font-weight: bold;
    width: 100px;
  }
  
  .skill-bar {
    background: #e0e0e0;
    border-radius: 5px;
    width: 100%;
    height: 10px;
    margin-left: 10px;
    overflow: hidden;
  }
  
  .skill-level {
    background: linear-gradient(90deg, #00c6ff, #0072ff);
    height: 100%;
    border-radius: 5px;
    transition: width 2s ease-in-out; /* Duration increased for smoother animation */
  }
  
  .skill-level.loaded {
    transition: width 2.5s ease-in-out; /* Ensuring smooth transition when loaded */
  }
  
  /* Mobile-First Approach */
  @media (min-width: 600px) { 
    .skills {
      align-items: flex-start;
    }
    .skills-container {
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }  
  }
  
  @media (min-width: 900px) {
    .skills-container {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      column-gap: 30px;
      row-gap: 40px;
    }
  }
  