.card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    margin-bottom: 20px;
    padding: 20px;
    transform: perspective(1000px) rotateX(0deg) rotateY(0deg);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    opacity: 0;
    animation: fadeInUp 0.5s ease-in-out forwards;
  }
  
  .card:hover {
    transform: perspective(1000px) rotateX(-3deg) rotateY(3deg); /* Subtle hover effect */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15); /* Slightly stronger shadow */
  }


/* Contact Section */
.contact {
    padding: 20px;
  }
  
  .contact-info {
    margin-bottom: 20px;
  }
  
  .contact-info p {
    margin: 5px 0;
    display: flex;
    align-items: center;
  }
  
  .contact-info i {
    margin-right: 10px;
    font-size: 18px; /* Size of the icon */
    color: #0072ff; /* Icon color */
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
  }
  
  .contact-form label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .contact-form input,
  .contact-form textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .contact-form button {
    background-color: #0072ff;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .contact-form button:hover {
    background-color: #005bb5;
  }

  

/* Mobile-First Approach */
@media (min-width: 600px) {

  }
  
  @media (min-width: 735px){
  
  }
  
  @media (min-width: 900px) {
    
  }