html {
  scroll-behavior: smooth;
  scroll-padding-top: 70px; /* Adjust based on the height of your navbar */
}


/* Global Styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

/* Main Container */
.App {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto; /* Center the main container */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Card Styles */
.card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  margin-bottom: 20px;
  padding: 20px;
  transform: perspective(1000px) rotateX(0deg) rotateY(0deg);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  opacity: 0;
  animation: fadeInUp 0.5s ease-in-out forwards;
}

.card:hover {
  transform: perspective(1000px) rotateX(-3deg) rotateY(3deg); /* Subtle hover effect */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15); /* Slightly stronger shadow */
}

/* Personal Info Section */
.personal-info {

  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 25px auto; /* Center the section */
  margin-top: 80px;
}

.profile-photo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 20px;
  /* background-image: url('/images/profilePhoto.jpeg'); */
  background-size: cover;
  background-position: center;
  transition: transform 0.5s ease-in-out;
}

.personal-info:hover .profile-photo {
  transform: scale(1.1); /* Zoom effect on hover */
}

.personal-text {
  max-width: 100%;
}

.personal-info .personal-title {
  font-size: 20px;
  font-weight: bold;
}

.personal-info i {
  font-size: 24px; /* Size of the icon */
  color: #0072ff; /* Icon color */
  margin-right: 10px;
}

/* Skills Section */
.skills {
  padding: 20px;
}

.skills-container {
  /* display: flex;
  flex-direction: column;
  gap: 20px; */
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
  column-gap: 15px;
  row-gap: 15px;
}

.skill {
  display: flex;
  align-items: center;
  gap: 10px;
}

.skill i {
  font-size: 24px; /* Size of the icon */
  color: #0072ff; /* Icon color */
}

.skill-name {
  font-weight: bold;
  width: 100px;
}

.skill-bar {
  background: #e0e0e0;
  border-radius: 5px;
  width: 100%;
  height: 10px;
  margin-left: 10px;
  overflow: hidden;
}

.skill-level {
  background: linear-gradient(90deg, #00c6ff, #0072ff);
  height: 100%;
  border-radius: 5px;
  transition: width 1s ease-in-out;
}

/* Projects Section */
.projects-container {
  /* display: flex;
  flex-direction: column; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 3px;
  padding: 3px;

}

.project-card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  padding: 15px;
  text-align: left;
}

.project-card a {
  display: block;
  margin-top: 10px;
  color: #0072ff;
  text-decoration: none;
}

.project-card a:hover {
  text-decoration: underline;
}

.project-card .project-links i {
  margin-right: 10px;
}

.project-navigation {
  margin-bottom: 20px;
}

.project-navigation ul {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  row-gap: 10px;
}

.project-navigation li {
  margin-bottom: 10px;
}

.project-navigation a {
  color: #0072ff;
  text-decoration: none;
}

.project-navigation a:hover {
  text-decoration: underline;
}

/* Active link style */
.project-navigation a.active {
  color: #111cea; /* Change this to the desired active color */
  font-weight: bold; /* Optional: Make the active link bold */
  text-decoration: underline;
}

.back-to-top {
  background-color: #fff;
  border: none;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  font-size: 18px;
  color: #0072ff;
  transition: opacity 0.3s ease;
  opacity: 0.8;
  margin-top: 12px;
}

.back-to-top:hover {
  background-color: #0072ff;
  color: #fff;
}

.back-to-top svg {
  width: 20px;
  height: 20px;
}

.back-to-top span {
  display: none;
}

.back-to-top-card .back-to-top span {
  display: inline;
  margin-left: 10px;
}

/* Education Section */
.education {
  padding: 20px;
}

.education-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  row-gap: 10px;
}
.education-card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  /* margin-bottom: 20px; */
  padding: 15px;
  opacity: 0;
  animation: fadeInUp 0.7s ease-in-out forwards;

}

.education-card h4 {
  margin-bottom: 10px;
  color: #0072ff;
}

.education-card i {
  font-size: 24px; /* Size of the icon */
  color: #0072ff; /* Icon color */
  margin-right: 10px;
}

.subjects {
  margin-top: 10px;
}

.subject {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

.subject-name {
  font-weight: bold;
}

.subject-score {
  color: #0072ff;
}

/* Contact Section */
.contact {
  padding: 20px;
}

.contact-info {
  margin-bottom: 20px;
}

.contact-info p {
  margin: 5px 0;
  display: flex;
  align-items: center;
}

.contact-info i {
  margin-right: 10px;
  font-size: 18px; /* Size of the icon */
  color: #0072ff; /* Icon color */
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form label {
  margin-bottom: 5px;
  font-weight: bold;
}

.contact-form input,
.contact-form textarea {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.contact-form button {
  background-color: #0072ff;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background-color: #005bb5;
}

/* Repositories Section */
.repositories {
  padding: 20px;
  text-align: center;
}

/* Fade-in Animation */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Experience Section */
.experience {
  padding: 20px;
}

.experience-container {
  /* display: flex;
  flex-direction: column;
  gap: 20px; */

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  row-gap: 20px;
}

.experience-card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  padding: 15px;
}

.experience-card h4 {
  color: #0072ff;
  margin-bottom: 10px;
}

/* Testimony Section */
.testimony {
  padding: 20px;
}

.testimony-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.testimony-card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  padding: 15px;
}

.testimony-card p {
  margin-bottom: 5px;
}

.testimony-card strong {
  color: #0072ff;
}

.footer {
  background-color: #0072ff; /* Match the navbar background color */
  color: #fff; /* White text color */
  padding: 20px;
  text-align: center;
  position: relative; /* Ensure it stays within the normal document flow */
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* Social links styling */
.social-links {
  margin: 10px 0;
}

.social-links a {
  color: #fff; /* White color for social links */
  text-decoration: none;
  margin: 0 10px;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.social-links a:hover {
  color: #ff6347; /* Change color on hover */
}

/* Quick links styling */
.quick-links {
  margin: 10px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.quick-links a {
  color: #fff; /* White color for quick links */
  text-decoration: none;
  margin: 0 10px;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.quick-links a:hover {
  color: #ff6347; /* Change color on hover */
}


/* Mobile-First Approach */
@media (min-width: 600px) {
  /* For Tablets */
  .App {
    width: 90%;
  }

  .personal-info {
    flex-direction: row;
    text-align: left;
  }

  .profile-photo {
    width: 150px;
    height: 150px;
    margin-right: 20px;
    margin-bottom: 0;
  }

  .skills-container{
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }

  .experience-container{
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    column-gap: 20px;

  }

  .project-navigation ul {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    column-gap: 20px;
    row-gap: 20px;
  }

  .projects-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 5px;
    padding: 5px;
  }

  .education-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
  }

}
@media (min-width: 900px) {
  /* For Desktop */
  .App {
    width: 95%; /* Fill most of the screen */
  }

  .skills-container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    column-gap: 30px;
    row-gap: 40px;
  }

  .projects-container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
     gap:10px;
     padding: 10px;
  }

  /* .project-card {
    width: 40%;
  } */

  .skills-container{
    grid-template-columns: repeat(3);
  }
}